{% extends 'base.html' %}
{% block title %} Boggle {% endblock %}
{% block content %}
<p class="timer"></p>
<h2 class="highScore">High Score : {{session['high_score']}}</h2>
<h3 class="timesPlayed">Played : {{session['games_played']}}</h3>
<table>
    {% set letter_counts = {} %}
    {% for row in session['board'] %}
    <tr name="{{ row }}">
        {% for letter in row %}
        {% set count = letter_counts.get(letter, 1) %}
        {% if count > 0 %}
        {% set name = letter ~ count %}
        {% else %}
        {% set name = letter %}
        {% endif %}
        <td name="{{ name }}">{{ letter }}</td>
        {% set update = letter_counts.update({letter: count + 1}) %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<form id="boggle_board">
    <input type="text" id="word_input" placeholder="Enter Word">
    <button id="Submit_word">Submit</button>
</form>
<p class="msg"></p>
<p class="score"></p>
<ul class="words-guessed">

</ul>
<script
  src="https://code.jquery.com/jquery-3.7.1.js"
  integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
  crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
  <script src="{{ url_for('static', filename='app.js') }}"></script>
{% endblock %}
